---
---

@import "{{ site.theme }}";
div.inner {
    width: 820px !important;
}
a {
    color: #d55a00 !important;
}
a:hover {
    color: #d50000 !important;
}
#main_content h4 {
    margin-bottom: 5px;
}
#main_content h6 {
    margin-bottom: 10px;
}
#main_content p {
    margin-bottom: 50px;
}
#download-dmg span {
    background: transparent url(https://raw.githubusercontent.com/adisloom/belcombo/gh-pages/assets/images/dmg-icon.png) 12px 50% no-repeat;
}
.question {
    color: #303030;
}
p.question::before {
    content: "?";
    font-size: 130px;
    font-weight: bold;
    position: relative;
    top: 60px;
    margin: auto 30px auto auto;
    color: #aaa;
}
.answer {
    left: 110px;
    position: relative;
    margin: auto;
}
