<!DOCTYPE html>
<html lang="{{ site.lang | default: "be-BY" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </header>
        <section id="downloads" class="clearfix">
            {% if site.show_downloads %}
            <a href="https://github.com/adisloom/belcombo/releases/download/v1.2/belcombo-win.zip" id="download-zip" class="button"><span>Для Windows</span></a>
            <a href="https://github.com/adisloom/belcombo/releases/download/v1.2/belcombo-mac.dmg" id="download-dmg" class="button"><span>Для macOS</span></a>
            {% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <section id="faq">
            <h2>FAQ</h2>
            <div>
                <p class="question">А в моём компьютере уже есть что-то русское.. зачем еще?</p>
                <p class="answer">Для удобства. Ни один компьютер не позволяет набирать все буквы другого языка не переключая раскладку. Переключаться между трёх раскладок в Windows тоже неудобно. А все предложенные раскладки позволяют набирать на 2-3 языках не переключаясь.</p>
            </div>
            <div>
                <p class="question">И как это будет выглядеть, с рекламой как Punto Switcher от Яндекс?</p>
                <p class="answer">Это будет приличнее, как стандартные раскладки в системе, только называются иначе: Belarusian+RU, English+BY, PL Russian+BY, с флажками на macOS</p>
            </div>
            <div>
                <p class="question">Ой, я таки установила, а оно не работает!</p>
                <p class="answer">После установки нужно зайти в языковые настройки системы и добавить установленные раскладки. Затем преключиться на них и попробывать набирать секретные буквы зажав кнопку AltGr (на Apple - Option)</p>
            </div>
            <div>
                <p class="question">В моём компьютере обнаружен виндоус, но нет кнопки AltGr, что делать?</p>
                <p class="answer">Вместо AltGr можно зажимать кнопки Alt+Ctrl одновременно.</p>
            </div>
            <div>
                <p class="question">А вдруг там виирус?</p>
                <p class="answer">Проверено, это психоз. Внизу страницы можете скачать <a href="{{ site.github.repository_url }}">исходники и инструменты</a>, и сделать эти раскладки самостоятельно.</p>
            </div>
        </section>

        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </footer>

      </div>
    </div>
  </body>
</html>
